/* Pretendard Font */
@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  src: url('/assets/fonts/Pretendard-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  src: url('/assets/fonts/Pretendard-ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/Pretendard-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/Pretendard-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/Pretendard-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/Pretendard-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  src: url('/assets/fonts/Pretendard-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  src: url('/assets/fonts/Pretendard-Black.otf') format('opentype');
}

@font-face {
  font-family: "DS-Digital";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/DS-DIGI.TTF") format("truetype");
}

@font-face {
  font-family: "DS-Digital";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/DS-DIGIB.TTF") format("truetype");
}

@font-face {
  font-family: "DS-Digital";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/DS-DIGII.TTF") format("truetype");
}

@font-face {
  font-family: "DS-Digital";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/DS-DIGIIB.TTF") format("truetype");
}
